@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900; 1.100..900&display=swap');

:root {
    --bg-color: #1466c3;
    --secundary-color: #b10005;
    --three-color: #014ba0;
    --four-color: #DBD8E3;
    --five-color: #352f44;
    --height-total: 300vh;
}

/*agregar un css para header,footer, etc o cada seccion asi puedo manipulaarlo mejor*/

body {
    margin: 0px;
    height: var(--height-total);
    background-color: var(--four-color);
    color: var(--five-color);
}

/*h1 {
    font-family: "Roboto Condensed", sans-serif;
    color: var(--five-color);
    box-sizing: border-box;
    text-align: center;
}*/

h2 {
    font-family: "Roboto Condensed", sans-serif;
    color: var(--bg-color);
    text-align: center;

}

p {
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}

header,
main,
footer {
    border: 2px solid var(--four-color);
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

.LogoNineT {
    height: 100%;
}

/*!!! adaptar tamano de header, deberia encimar el navegador */
header {
    height: 120px;
    background-color: var(--four-color);
}

/*aca deberia cambiar el aspecto del index si quiero agregar el video*/
.contenedor-header {
    display: flex;
    align-items: flex-start;
}

nav {
    font-family: "Roboto Condensed", sans-serif;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: var(--five-color)
}

/*video*/
#promo-video {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#promo-video video {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    height: 5%;
    background-color: var(--three-color);
    text-align: center;
    font-size: 25px;
    font-family: "Roboto Condensed", sans-serif;
}

/* TAMAÑO DEL DESKTOP */
@media screen and (min-width: 1024px) {
    p {
        font-size: 25px;
    }

    .LogoNineT {
        width: 180px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    nav {
        margin-left: 20rem;
    }

    nav li {
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    main {
        height: 90%;
        font-family: "Roboto Condensed", sans-serif;
    }

    /*div*/

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 2rem;
        justify-content: center;
    }

    .card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 300px;
        transition: transform 0.3s;
    }

    .card:hover {
        transform: translateY(-10px);
    }

    .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-details {
        padding: 1rem;
    }


    .trip-duration {
        background-color: var(--bg-color);
        color: #f1f1f1;
        padding: 0.5rem;
        border-radius: 5px;
        font-size: 0.8rem;
        display: inline-block;
    }


    h3 {
        font-size: 1.2rem;
        margin: 0.5rem 0;
        color: #333;
    }

    .trip-options {
        display: flex;
        gap: 0.5rem;
        margin: 0.5rem 0;
    }

    .trip-options span {
        background-color: #f1f1f1;
        padding: 0.3rem 0.6rem;
        border-radius: 3px;
        font-size: 0.8rem;
    }

    .price {
        font-size: 1rem;
        color: #333;
        margin-top: 1rem;
    }

    

    #list {
        display: none;
    }
}


/* TAMAÑO DEL TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h2 {
        font-size: 40px;
    }

    p {
        font-size: 30px;
    }

    .LogoNineT {
        width: 220px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
    }

    nav li {
        margin-right: 35px;
        margin-top: 18px;
        font-size: 50px;
    }

    .icon_text, #list {
        display: none;
    }

}

/* TAMAÑO DEL SMARTPHONE*/
@media screen and (max-width: 767px) {
    
    h2 {
        font-size: 55px;
    }

    p {
        font-size: 40px;
    }

    .LogoNineT {
        width: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 25px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar #list {
        font-size: 60px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 30px;
    }

    nav ul {
        list-style: none;
        text-align: start;
    }

    nav li {
        display:block;
    }

    nav li div{
        display:inline;
    }
    
    
    #menu_list {
        position: absolute;
        width: 100%;
        max-height: 0px;
        top: 0;
        z-index: 1;
        margin-top: 120px;
        background-color: var(--four-color);
        overflow: hidden;
        transition: max-height 0.5s;
    }
    
    #menu_list.open-menu{
        max-height: 330px;
    }
      
    #menu_list a {
        color: black;
        display: block; 
        padding: 20px; 
        font-size: 30px;
    }
}