/*video*/
#promo-video {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#promo-video video {
    width: 100%;
    height: auto;
    display: block;
}

.cards-container {
    justify-content: center;
}

/* TAMAÑO DEL DESKTOP */
@media screen and (min-width: 1024px) {

    .cards-container {
        gap: 1rem;
        padding: 2rem;
    }
}


/* TAMAÑO DEL TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h2 {
        font-size: 35px;
    }
}

/* TAMAÑO DEL SMARTPHONE*/
@media screen and (max-width: 767px) {
    
    main h2 {
        font-size: 40px;
    }
}