@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900; 1.100..900&display=swap');

:root {
    --bg-color: #1466c3;
    --secundary-color: #b10005;
    --three-color: #014ba0;
    --four-color: #DBD8E3;
    --five-color: #352f44;
    --height-total: 300vh;
}

/*agregar un css para header,footer, etc o cada seccion asi puedo manipulaarlo mejor*/

body {
    margin: 0px;
    height: var(--height-total);
    background-color: var(--four-color);
    color: var(--five-color);
}

h2 {
    font-family: "Roboto Condensed", sans-serif;
    color: var(--bg-color);
    text-align: center;
}


p {
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
    font-size: 20px;
    padding-top: 10px;

}

header, main, footer {
    border: 2px solid var(--four-color);
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

/*!!! adaptar tamano de header, deberia encimar el navegador */
header {
    height: 120px;
    background-color: var(--four-color);
}

.LogoNineT {
    height: 100%;
}

/*aca deberia cambiar el aspecto del index si quiero agregar el video

.contenedor-header {
    display: flex;
    align-items: flex-start;
}*/

nav {
    font-family: "Roboto Condensed", sans-serif;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: var(--five-color)
}

main {
    height: 90%;
    font-family: "Roboto Condensed", sans-serif;
}

footer {
    height: 20%;
    background-color: var(--three-color);
    font-family: "Roboto Condensed", sans-serif;
}

/* TAMAÑO DEL DESKTOP */
@media screen and (min-width: 1024px) {
    .LogoNineT {
        width: 180px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    nav {
        margin-left: 20rem;
    }

    nav li {
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    #list {
        display: none;
    }

    footer p {
        font-size: 25px;
    }
}


/* TAMAÑO DEL TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .LogoNineT {
        width: 220px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
    }

    nav li {
        margin-right: 35px;
        margin-top: 18px;
        font-size: 50px;
    }

    .icon_text, #list {
        display: none;
    }

    footer p {
        font-size: 30px;
    }

}

/* TAMAÑO DEL SMARTPHONE*/
@media screen and (max-width: 767px) {

    .LogoNineT {
        width: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 25px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar #list {
        font-size: 60px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 30px;
    }

    nav ul {
        list-style: none;
        text-align: start;
    }

    nav li {
        display:block;
    }

    nav li div{
        display:inline;
    }
    
    
    #menu_list {
        position: absolute;
        width: 100%;
        max-height: 0px;
        top: 0;
        z-index: 1;
        margin-top: 120px;
        background-color: var(--four-color);
        overflow: hidden;
        transition: max-height 0.5s;
    }
    
    #menu_list.open-menu{
        max-height: 330px;
    }
      
    #menu_list a {
        color: black;
        display: block; 
        padding: 20px; 
        font-size: 30px;
    }

    footer p {
        font-size: 40px;
    }
}